# AI MEGADADOS 23-2

**NOME**: Gustavo Lindenberg Pacheco

## Parte 1 - ClinPag!

Na parte 1 da prova de MEGADADOS, iremos trabalhar com a base de dados sint√©tica **clinpag**.

### Insper autograding!

Para receber feedback dos exerc√≠cio na parte 1, iremos utilizar o `insper autograding`. Se n√£o fez este passo, abra o notebook da aula 01 e fa√ßa!

**Sugest√£o**: para aproveitar o `.env`, crie uma pasta para a prova no mesmo local onde costuma deixar as pastas das **aulas**!

### Instala√ß√£o da base

Execute os scripts `clinpag_001.sql` e `clinpag_002.sql` no MySQL Workbench. Estes scripts criam uma base **clinpag** e inserem alguns dados de exemplo para resolu√ß√£o da prova.

A base pode ser representada pelo seguinte diagrama do model orelacional (diagrama ER):

<img src="img/deer_clinpag.png">

A base da prova simula um cen√°rio de **consultas m√©dicas**. Nela, est√£o cadastrados **m√©dicos** que atendem diversas **especialidades** em **cl√≠nicas**. Assim, os **pacientes** podem agendar **consultas** de determinadas **especialidades** com **m√©dicos** em determinadas **cl√≠nicas**.

Obs:
- Cada paciente tem uma cidade onde reside, mas pode se deslocar para ser atendido.
- O m√©dico pode atender mais de uma especialidade em uma cl√≠nica.
- O m√©dico pode atender em mais de uma cl√≠nica diferente, sendo de diferentes especialidades ou n√£o.

## Como resolver os exerc√≠cios?

Crie a base da prova em sua m√°quina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta est√° correta, fa√ßa a submiss√£o para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [52]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conex√£o com o banco! Perceba que, uma vez configurado o `.env` n√£o precisaremos mais informar usu√°rios, senhas e URLs!

In [53]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="clinpag",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Notas

Para conferir a nota da corre√ß√£o autom√°tica da prova, utilize:

In [3]:
ia.grades(task="ai_md_23_2")

|    | Atividade   | Exerc√≠cio   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | ai_md_23_2  | ex00        |      0 |     10 |
|  1 | ai_md_23_2  | ex01        |      2 |     10 |
|  2 | ai_md_23_2  | ex02        |      3 |     10 |
|  3 | ai_md_23_2  | ex03        |      3 |     10 |
|  4 | ai_md_23_2  | ex04        |      2 |     10 |
|  5 | ai_md_23_2  | ex05        |      3 |      0 |
|  6 | ai_md_23_2  | ex06        |      3 |      0 |

In [4]:
ia.grades(by="TASK", task="ai_md_23_2")

|    | Tarefa     |   Nota |
|---:|:-----------|-------:|
|  0 | ai_md_23_2 |   6.25 |

**Exerc√≠cio 0**: Este exerc√≠cio n√£o vale nota, √© apenas uma brincadeira para aquecimento! Se n√£o estiver de bom humor, pule!

**Pergunta**: Por que o Maciel e M√°rcio ter√£o que utilizar √≥culos escuros na segunda parte do curso?

In [5]:
resp_00 = "porque voc√™ √© muito brilhante! üòéüòéüòé"

In [6]:
ia.sender(answer="resp_00", task="ai_md_23_2", question="ex00", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex00', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Obs**: Esta parte da avalia√ß√£o vale **6 pontos** na nota da prova.
- 50% da nota ser√° pela corre√ß√£o autom√°tica do servidor
- 50% da nota ser√° pela corre√ß√£o pelo professor, que levar√° em considera√ß√£o, por exemplo:
    - Qu√£o distante sua solu√ß√£o ficou de uma solu√ß√£o correta
    - Se as queries est√£o formatadas:
        - Padr√£o de mai√∫sculas e min√∫sculas
        - Tabula√ß√µes e quebras de linhas
    - Se utiliza *alias* nas tabelas, especialmente em queries com m√∫ltiplas tabelas
    
A nota retornada pelo servidor estar√° no intervalo `0.0` a `10.0` e ser√° multiplicada por `0.3` para compor os `50%` da corre√ß√£o autom√°tica.

Ainda, considere que os testes n√£o s√£o exaustivos. Sua solu√ß√£o deve funcionar para qualquer conjunto de dados no *schema* da prova. Tentativas de burlar os testes ser√£o penalizadas.

**Exerc√≠cio 1**: Crie uma query que retorne a quantidade de especialidades que possuem a palavra `"diagn√≥stico"` em sua descri√ß√£o.

**Obs**:
- A coluna retornada deve se chamar `qt_diag`.

In [7]:
sql_ex01 = """
SELECT COUNT(*) as qt_diag FROM especialidade
WHERE descricao LIKE '%diagn√≥stico%'
"""

db(sql_ex01)

Executando query:
(4,)

In [8]:
ia.sender(answer="sql_ex01", task="ai_md_23_2", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Exerc√≠cio 2**: Crie uma query que retorne, para cada m√©dico, em quantas cl√≠nicas diferentes ele atende ou j√° atendeu.

**Obs**:
- Retorne o id, nome e sobrenome de cada m√©dico (nesta ordem).
- A coluna de contagem deve ser a √∫ltima e se chamar `qt_clin`.
- Retorne em ordem decrescente por `qt_clin`.
- M√©dicos que n√£o atendem em nenhuma cl√≠nica tamb√©m devem ser retornados.

In [9]:
sql_ex02 = """
SELECT m.id_medico, m.nome, m.sobrenome, COUNT(DISTINCT ma.id_clinica) as qt_clin
FROM medico m
LEFT JOIN medico_atende_clinica ma
ON m.id_medico = ma.id_medico
GROUP BY m.id_medico
ORDER BY qt_clin DESC
"""

db(sql_ex02)

Executando query:
(2, 'Maria', 'Ferreira', 5)
(8, 'Gabriel', 'Gomes', 3)
(1, 'Pedro', 'Silva', 2)
(10, 'Leonardo', 'Morais', 2)
(4, 'Jos√©', 'Santos', 1)
(11, 'Laura', 'Pereira', 1)
(13, 'Gustavo', 'Sim√µes', 1)
(15, 'Vinicius', 'Fernandes', 1)
(3, 'Ana', 'Oliveira', 0)
(5, 'Lucas', 'Alves', 0)
(6, 'Luiz', 'Souza', 0)
(7, 'Ricardo', 'Pereira', 0)
(9, 'Matheus', 'Moreira', 0)
(12, 'Isabela', 'Carvalho', 0)
(14, 'Lucas', 'Barbosa', 0)

In [10]:
ia.sender(answer="sql_ex02", task="ai_md_23_2", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Exerc√≠cio 3**: Foi levantada a necessidade de armazenar, para cada m√©dico, em qual universidade e ano ele obteve a primeira gradua√ß√£o em medicina.

Considere o diagrama atualizado:

<img src="img/deer_clinpag_v2.png">

**Modifica√ß√µes**:
- Foi adicionada uma nova tabela `universidade`.
- A tabela `universidade` tem chave estrangeira para a tabela `cidade`.
- A tabela `medico` passa a ter chave estrangeira para a tabela `universidade`, com campo indicando o id da universidade onde obteve a primeira gradua√ß√£o em medicina.

**Atividade**: Construa a **DDL** para cria√ß√£o da tabela `universidade`.

**Obs**:
- Ignore a *constraint* de chave estrangeira para a tabela de `cidade`. Crie o campo `id_cidade` na tabela `universidade` mas n√£o envie a constraint na query submetida ao servidor!
- Caso a tabela exista, ela deve ser removida e recriada.

In [11]:
# Separando em dois comandos para n√£o dar erro!
sql_ex03_cmd1 = """
DROP TABLE IF EXISTS universidade;
"""

sql_ex03_cmd2 = """
CREATE TABLE IF NOT EXISTS universidade (
	id_universidade INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
    nome VARCHAR(45) NOT NULL NOT NULL,
    ano_fundacao INT,
    id_cidade INT NOT NULL
	);
"""

sql_ex03 = f"""
{sql_ex03_cmd1}
{sql_ex03_cmd2}
"""

db(sql_ex03_cmd1)
db(sql_ex03_cmd2)

Executando query:
Executando query:

In [12]:
ia.sender(answer="sql_ex03", task="ai_md_23_2", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Exerc√≠cio 4**: Considerando o *schema* atualizado no exerc√≠cio anterior:

<img src="img/deer_clinpag_v2.png">

**Atividade**: Crie uma query de **inser√ß√£o** na tabela `universidade`.

Deve ser inserido um registro onde:

- O `id` da universidade deve ser `100`
- Fundada em `2012`
- Na cidade de `"S√£o Paulo"`
- Com nome de universidade `"Academia de Medicina Muito Estranha"`

In [46]:
# roll back changes
connection.rollback()

In [45]:
# Make an insert into universidade (id_universidade, ano_fundacao, id_cidade, nome). The id_cidade field must get the city "S√£o Paulo" in the table cidade.
sql_ex04 = """
INSERT INTO universidade (id_universidade, ano_fundacao, id_cidade, nome)
SELECT 100, 2012, c.id_cidade, 'Academia de Medicina Muito Estranha'
FROM cidade c
WHERE c.nome = 'S√£o Paulo'
"""

db(sql_ex04)

Executando query:

IntegrityError: 1062 (23000): Duplicate entry '100' for key 'universidade.PRIMARY'

In [15]:
ia.sender(answer="sql_ex04", task="ai_md_23_2", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Exerc√≠cio 5**: Crie uma query que, considerando as consultas de cada especialidade atendida pelo m√©dico, retorne (nesta ordem):

- Nome do m√©dico
- Sobrenome do m√©dico
- Nome da especialidade
- Valor m√©dio da consulta desta especialidade com este m√©dico
- Valor m√≠nimo da consulta desta especialidade com este m√©dico
- Valor m√°ximo da consulta desta especialidade com este m√©dico

**Obs**:
- Retorne apenas as especialidades cujo valor m√©dio das consultas seja acima de `300.0`.
- Ordene de forma crescente por (nesta ordem): nome do m√©dico, sobrenome do m√©dico e nome da especialidade.
- As colunas calculadas devem se chamar (nesta ordem):  `valor_medio`, `valor_min` e `valor_max`.

In [29]:
# Selecione o nome e sobrenome do m√©dico, o nome da especialidade e o valor m√©dio da consulta de sua especialidade. A especialidade tem seu nome na tabela 'especialidade', que se liga em 'medico_atende_clinica' por meio do id_especialidade. A tabela 'consulta' tem o valor da consulta e o id_medico. S√≥ retorne os itens que possuem valor m√©dio maior que 300. 
sql_ex05 = """
SELECT m.nome, m.sobrenome, e.nome, AVG(c.valor) as valor_medio, MIN(c.valor) as valor_min, MAX(c.valor) as valor_max
FROM medico m
JOIN medico_atende_clinica ma
ON m.id_medico = ma.id_medico
JOIN especialidade e
ON ma.id_especialidade = e.id_especialidade
JOIN consulta c
ON m.id_medico = c.id_medico
GROUP BY m.id_medico, e.id_especialidade
HAVING valor_medio > 300
ORDER BY m.nome, m.sobrenome, e.nome
"""

db(sql_ex05)

Executando query:
('Jos√©', 'Santos', 'Psiquiatria', Decimal('585.000000'), Decimal('270.00'), Decimal('900.00'))
('Maria', 'Ferreira', 'Cirurgia', Decimal('722.823529'), Decimal('85.00'), Decimal('1800.00'))
('Maria', 'Ferreira', 'Medicina de Emerg√™ncia', Decimal('722.823529'), Decimal('85.00'), Decimal('1800.00'))
('Maria', 'Ferreira', 'Medicina de Fam√≠lia', Decimal('722.823529'), Decimal('85.00'), Decimal('1800.00'))
('Maria', 'Ferreira', 'Oftalmologia', Decimal('722.823529'), Decimal('85.00'), Decimal('1800.00'))
('Pedro', 'Silva', 'Medicina de Emerg√™ncia', Decimal('501.636364'), Decimal('100.00'), Decimal('980.00'))
('Pedro', 'Silva', 'Pediatria', Decimal('501.636364'), Decimal('100.00'), Decimal('980.00'))
('Pedro', 'Silva', 'Psiquiatria', Decimal('501.636364'), Decimal('100.00'), Decimal('980.00'))

In [30]:
ia.sender(answer="sql_ex05", task="ai_md_23_2", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

**Exerc√≠cio 6**: Sabemos que devido a indisponibilidade de servi√ßos de sa√∫de, muitas pessoas precisam se deslocar para cidades vizinhas, ou at√© para outros estados para buscar atendimento.

Uma consultoria foi contratada para analisar os dados das consultas e propor solu√ß√µes para o problema, diminuindo longos deslocamentos.

Entretanto, h√° um receio em disponibilizar os dados completos dos indiv√≠duos, uma vez que s√£o dados sens√≠veis.

Assim, voc√™ deve criar uma **view** chamada `view_paciente_consulta_outra_cidade` que contenha informa√ß√µes sobre todas as consultas onde o paciente teve que sair de sua cidade para fazer a consulta.

A view deve conter:
- Nome completo do paciente em hash SHA 256 (alias `hash_paciente`).
- Nome da cidade do paciente (alias `cidade_paciente`).
- Nome da cidade da cl√≠nica (alias `cidade_clinica`).
- Valor da consulta.

**Obs**:
- Considere que o nome completo √© a concatena√ß√£o do **nome** + **um espa√ßo** + **sobrenome**.
- Ordene por (nesta ordem): `cidade_paciente`, `cidade_clinica`, `hash_paciente`.
- Note que existem campos `id_cidade` para identificar tanto a cidade do paciente (na tabela `paciente`) quanto a cidade da cl√≠nica onde ocorre o atendimento (tabela `clinica`).
- Neste exerc√≠cio voc√™ n√£o precisa se preocupar com permiss√µes ou cria√ß√£o de usu√°rios, apenas crie a view!

In [50]:
# roll back changes
connection.rollback()

MySQLInterfaceError: Commands out of sync; you can't run this command now

In [54]:
# Crie uma view chamada 'view_paciente_consulta_outra_cidade' que retorne o nome completo do paciente em SHA 256 (alias 'hash_paciente'), o nome da cidade do paciente (alias 'cidade_paciente'), o nome da cidade da clinica (alias 'cidade_clinica') e o valor da consulta. Ordene por 'cidade_paciente', 'cidade_clinica' e 'hash_paciente', nessa ordem.
sql_ex06 = """
DROP VIEW IF EXISTS view_paciente_consulta_outra_cidade;
CREATE VIEW view_paciente_consulta_outra_cidade AS
SELECT SHA2(p.nome, 256) as hash_paciente, c_p.nome as cidade_paciente, c_c.nome as cidade_clinica, con.valor
FROM paciente p
JOIN cidade c_p
ON p.id_cidade = c_p.id_cidade
JOIN consulta con
ON p.id_paciente = con.id_paciente
JOIN clinica cl
ON con.id_clinica = cl.id_clinica
JOIN cidade c_c
ON cl.id_cidade = c_c.id_cidade
WHERE c_p.id_cidade != c_c.id_cidade
ORDER BY c_p.nome, c_c.nome, hash_paciente, con.valor
"""

db(sql_ex06)

Executando query:

In [55]:
ia.sender(answer="sql_ex06", task="ai_md_23_2", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget‚Ä¶

## Parte 2 - Campeonato!

Por conta do grande aumento do interesse dos alunos em jogos de quebra-cabe√ßas com o objetivo de encaixar blocos, a Atl√©tica resolveu organizar o primeiro campeonato Insper de Montagem de Blocos. Para isso, a Atl√©tica precisa de um sistema para gerenciar as inscri√ß√µes dos alunos e a pontua√ß√£o de cada um. Voc√™ ficou respons√°vel por desenvolver o banco de dados que ser√° utilizado para armazenar as informa√ß√µes do campeonato.

Em conversas com o cliente, voc√™ levantou as seguintes informa√ß√µes sobre o dom√≠nio de neg√≥cios:

- √â necess√°rio manter um cadastro dos alunos do Insper, contendo informa√ß√µes suficientes para identific√°-los e tamb√©m para entrar em contato com eles. Al√©m disso, cada aluno pode escolher um apelido para ser utilizado no campeonato que deve ser √∫nico.
- Neste campeonato haver√£o duas modalidades: Individual e Duplas. Os alunos podem se inscrever nas duas modalidades ao mesmo tempo.
- √â necess√°rio saber quando um aluno se inscreveu em uma determinada modalidade e se ele pagou ou n√£o a taxa de inscri√ß√£o.
- Cada partida √© disputada entre dois jogadores ou duas duplas. √â necess√°rio manter um cadastro dos jogadores que participaram de cada partida, indicando se eles ganharam ou perderam a partida.

Utilize estas informa√ß√µes para propor solu√ß√µes adequadas para os pr√≥ximos exerc√≠cios.

**Obs**: Esta parte da avalia√ß√£o vale **4 pontos** na nota da prova:
- 1.50 para o exerc√≠cio 7
- 0.75 para o exerc√≠cio 8
- 0.75 para o exerc√≠cio 9
- 1.00 para o exerc√≠cio 10

**Exerc√≠cio 7**: Desenhe o diagrama do modelo relacional deste problema (fa√ßa no workbench). N√£o esque√ßa de indicar claramente os tipos, chaves prim√°rias, chaves estrangeiras, e a cardinalidade dos relacionamentos.

**Obs:** Salve a imagem do diagrama na pasta `img`. Edite na resposta o caminho para a imagem!

<div class="alert alert-success">
    
Edite na resposta o caminho para a imagem!
    
<img src="img/exemplo.png">

</div>

**Opcional**: caso julgue necess√°rio, utilize o bloco abaixo para justificar decis√µes tomadas no desenho do diagrama.

<div class="alert alert-success">
    
Seu texto AQUI!

</div>

**Exerc√≠cio 8**: Quais entidades voc√™ julgou serem necess√°rias para resolver o problema? Qual o tipo dos relacionamentos entre elas (um-para-muitos, muitos-para-muitos)? Justifique sua resposta.

<div class="alert alert-success">
    
Seu texto AQUI!

</div>

**Exerc√≠cio 9**: Em quais colunas voc√™ criaria √≠ndices? Por que voc√™ criaria esses √≠ndices?

<div class="alert alert-success">
    
Seu texto AQUI!

</div>

**Exerc√≠cio 10**: Dos relacionamentos descritos, quais destes s√£o identificadores e quais s√£o n√£o-identificadores? Por que voc√™ tomou essa decis√£o?

<div class="alert alert-success">

Sua resposta AQUI!

</div>

## Entrega!

√â hora de entregar. Fa√ßa um **zip** do notebook + imagens chamado `ai_megadados.zip` e submeta no Blackboard!

**Obs**:
- `zip`, n√£o use `rar`!
- N√£o precisa entregar os scripts fornecidos pelo professor (pasta scripts)